.editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;

  display: grid;
  grid-template-columns: [nav-start] min-content [nav-end content-start] auto [content-end];
}

.editor__content {
  grid-column: content-start / content-end;

  display: grid;
  grid-template-rows: [select-start] min-content [select-end edit-start] max-content [edit-end];
}

// ------------------- Product selector -------------------

.editor__select {
  grid-row: select-start / select-end;
  margin: 1rem 0;

  display: flex;

  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 4px;

  &::-webkit-scrollbar {
    height: 8px;
  }

  .editor__product {
    display: grid;
    grid-template-rows: [image-start] min-content [image-end info-start] min-content [info-end];
    margin: 0 0.5rem;

    border: 1px solid #e5e5e5;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    cursor: pointer;

    .editor__product__name {
      grid-row: info-start / info-end;
      font-size: 0.8rem;
      margin-top: 0.5rem;
    }

    .editor__product__img {
      grid-row: image-start / image-end;
      width: 12rem;
      object-fit: contain;
    }
  }
}

// ------------------- Product editor -------------------

.editor__edit {
  width: 100%;
  height: 100%;

  padding: 0 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .editor__button {
    width: 10rem;
    height: 3rem;

    background-color: #f57c00;
    border: none;
    border-radius: 15px;

    font-weight: 500;
    font-size: 1rem;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      background-color: #f9a825;
      color: #161a1d;
    }
  }

  .button-add {
    align-self: flex-end;
  }
  #button-cancel{
    color: #f57c00;
    border: solid #f57c00 2px;
    background-color: #fff;
    &:hover{
      background-color: rgba(245, 124, 0, 0.1);
    }
  }

  .editor__fields {
    width: 100%;
    height: min-content;
    margin: 1rem 0;

    display: grid;
    grid-template-columns: [fields-start] auto [fields-end description-start] auto [description-end tags-start] min-content [tags-end];
    gap: 1rem;
  }

  .editor__inputs {
    grid-column: fields-start / fields-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .editor__input {
    width: 100%;
    flex: 1;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;

    border: 1px solid #e5e5e5;
    border-radius: 5px;
  }
  .editor__description {
    grid-column: description-start / description-end;
    height: 14rem;
    resize: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;

    border: 1px solid #e5e5e5;
    border-radius: 5px;
  }

  .editor__tags {
    grid-column: tags-start / tags-end;

    padding: 0.5rem 1rem;

    border: 1px solid #e5e5e5;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.editor__edit__controls {
  width: 100%;
  height: 4rem;

  gap: 0.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  #button-delete {
    color: #f44336;
    background-color: #fff;
    border: 2px solid #f44336;
    &:hover {
      background-color: rgba(244, 67, 54, 0.1);
    }
  }
  #button-submit {
    color: #fff;
    background-color: #4caf50;
    border: 2px solid #4caf50;
    &:hover {
      color: #fff;
      background-color: #64BB67;
      border: 2px solid #64BB67;
    }
  }
}
