::-webkit-scrollbar-track {
    background: transparent;
  }

.delivery{
    position: absolute;
    top: 6rem;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #f5f5f5;

    overflow-y: auto;
}
.delivery__title{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 2rem 0;
}

.delivery-map-container{
    width: 80rem;
    height: auto;
    margin: 0 auto;

    .delivery-map__legend{
    height: 4rem;
    width: 100%;

    margin: 1rem 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
        .map__legend-item{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            p{
            margin: auto 0;
            margin-left: 10px;
            }
        }
    }
    .delivery-map{
        height: 40rem;
        border-radius: 20px;
        align-self: center;
        margin-top: 2rem;
    }
}

