::-webkit-scrollbar-track {
    background: transparent;
  }

.delivery{
    position: absolute;
    top: 6vw;
    left: 0;
    right: 0;
    bottom: 0;

    overflow-y: auto;
}
.delivery__title{
    font-size: 2.5vw;
    font-weight: 700;
    margin: 2vw 0;
}

.delivery-map-container{
    width: 80vw;
    height: auto;
    margin: 0 auto;

    .delivery-map__legend{
    height: 4vw;
    width: 100%;

    margin: 1vw 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
        .map__legend-item{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            p{
            margin: auto 0;
            margin-left: 10px;
            }
        }
    }
    .delivery-map{
        height: 40vw;
        border-radius: 20px;
        align-self: center;
        margin-top: 2vw;
    }
}

