.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 6vw;

    background-color: #161a1d;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-nav{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-container__logo{
    height: 4.5vw;
    transition: ease-in-out 0.7s;
    margin: 1vw;

    &:hover{
        cursor: pointer;
        transform: rotate(360deg);
    }
}
.header-container__nav__item{
    color: #eeeeee;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1.5vw;
    cursor: pointer;

    border-radius: 15px;
    padding: 0.5vw 1vw;

    transition: 0.3s;

    p{
        margin: 0;
        margin-left: 0.5vw;
        margin-top: 0.2rem;
        font-size: large;
    }
    &:hover{
        color: #fff;
        background-color: #212121;
    }
}

#header-nav__cart{
    background-color: #f57c00;
    border-radius: 15px;
    padding: 0.5vw 1vw;

    transition: 0.3s;

    &:hover{
        background-color: #f9a825;
    }
}

h3{
    text-align: center;

    margin-right: 7.5vw;
}